:root {
  --max-content-width: 1280px;
  --default-color: #fff;
  --active-color: #3c59f0;
  --inactive-color: #626262;
  --background-color: #151419;
  --background-start-color: #1b1a1f;
  --background-stop-color: #111013;
}
